body{
    background-color: darksalmon;
}

#output{
    background: rgb(243, 182, 101);
    border-radius: 10px;
    border-top: 10px solid rgb(250, 177, 177);
    padding: 10px;
    float: none;
    text-align: left;
}










































                       